/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

/* CONTENEDOR PRINCIPAL */
.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

/* TARJETA */
.card {
    background-color: #ffffff;
    color: #000;
    max-width: 900px;
    width: 100%;
    padding: 3rem;
    border-radius: 25px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* TÍTULOS */
.card h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

.card h2 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 2rem;
}

/* BLOQUE DE INSTRUCCIONES */
.instructions {
    background-color: #f6b5ff;
    padding: 2rem;
    border-left: 6px solid #d400ff;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 2rem;
}

/* TEXTO */
.instructions h3 {
    margin-bottom: 1rem;
}

.instructions p {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.instructions ul {
    margin-left: 1.2rem;
}

.instructions li {
    margin-bottom: 1.2rem;
    line-height: 1.5;
}

/* TEXTO FINAL */
.reload {
    font-size: 0.9rem;
    color: #000;
}
